<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="GMSE" shutdownHook="disable">
    <Properties>
        <Property name="filename">gmse-log</Property>
        <Property name="standard-pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{2} - %msg%n</Property>
        <Property name="packet-pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} %-15logger{1} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>${standard-pattern}</Pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="DebugLog"
                     fileName="logs/${filename}.log"
                     filePattern="logs/$${date:yyyy-MM}/$${date:yyyy-MM-dd}/${filename}-%d{yyyy-MM-dd_HH-mm-ss}-%i.log">
            <PatternLayout>
                <Pattern>${standard-pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy minSize="0"/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingFile>

        <Console name="PacketConsole" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>${packet-pattern}</Pattern>
            </PatternLayout>
        </Console>

        <File name="PlayerPacketFile" fileName="logs/player-packets.log">
            <PatternLayout>
                <Pattern>${standard-pattern}</Pattern>
            </PatternLayout>
        </File>

        <File name="TradeFile" fileName="logs/trades.log">
            <PatternLayout>
                <Pattern>${standard-pattern}</Pattern>
            </PatternLayout>
        </File>

        <File name="ExpeditionFile" fileName="logs/expeditions.log">
            <PatternLayout>
                <Pattern>${standard-pattern}</Pattern>
            </PatternLayout>
        </File>

        <File name="ChatFile" fileName="logs/chat.log">
            <PatternLayout>
                <Pattern>${standard-pattern}</Pattern>
            </PatternLayout>
        </File>

        <File name="GachaponFile" fileName="logs/gachapon.log">
            <PatternLayout>
                <Pattern>${standard-pattern}</Pattern>
            </PatternLayout>
        </File>

        <File name="MapleLeafFile" fileName="logs/mapleleaf.log">
            <PatternLayout>
                <Pattern>${standard-pattern}</Pattern>
            </PatternLayout>
        </File>

        <File name="WebFile" fileName="logs/web.log">
            <PatternLayout>
                <Pattern>${standard-pattern}</Pattern>
            </PatternLayout>
        </File>

        <File name="DebugPacket" fileName="logs/debug-packets.log">
            <PatternLayout>
                <Pattern>${standard-pattern}</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="DebugLog" level="debug"/>
            <AppenderRef ref="Console" level="info"/>
        </Root>

        <Logger name="net.packet.logging" level="debug" additivity="false">
            <AppenderRef ref="PacketConsole"/>
            <AppenderRef ref="DebugPacket"/>
        </Logger>
        <Logger name="net.packet.logging.MonitoredChrLogger" level="info" additivity="false">
            <AppenderRef ref="PlayerPacketFile"/>
        </Logger>

        <Logger name="server.Trade" level="info" additivity="false">
            <AppenderRef ref="TradeFile"/>
        </Logger>
        <Logger name="server.expeditions.Expedition" level="info" additivity="false">
            <AppenderRef ref="ExpeditionFile"/>
        </Logger>
        <Logger name="server.ChatLogger" level="info" additivity="false">
            <AppenderRef ref="ChatFile"/>
        </Logger>
        <Logger name="server.gachapon.Gachapon" level="info" additivity="false">
            <AppenderRef ref="GachaponFile"/>
        </Logger>
        <Logger name="server.MapleLeafLogger" level="info" additivity="false">
            <AppenderRef ref="MapleLeafFile"/>
        </Logger>

        <Logger name="org.springframework" level="info">
            <AppenderRef ref="WebFile"/>
        </Logger>
        <Logger name="api.ApiServer" level="info">
            <AppenderRef ref="WebFile"/>
        </Logger>

        <Logger name="org.hibernate" level="info"/>
        <Logger name="org.apache" level="info"/>
        <Logger name="org.flywaydb" level="error"/>
        <Logger name="org.mybatis.spring.mapper.ClassPathMapperScanner" level="info"/>
        <Logger name="org.mybatis.spring.SqlSessionFactoryBean" level="info"/>
        <Logger name="com.mybatisflex" level="info"/>
        <Logger name="io.undertow" level="info"/>
        <Logger name="org.jboss" level="info"/>
        <Logger name="org.xnio" level="info"/>
        <Logger name="com.zaxxer.hikari" level="info"/>
        <Logger name="io.netty" level="info"/>
    </Loggers>
</Configuration>